body {
  font: normal 300 14px/1.6 $sans-serif;
}

p {}

a {
  color:inherit;
  text-decoration: inherit;

  &:hover{
  }
}

b, strong {font-weight: 700;}
em, italic {font-style: italic;}

ul, ol {
  li {}
}
