// Folha de estilos com variáveis
// Nesta folha estão centralizadas as principais variáveis
// que compoem o projeto, de modo que as outras folhas
// referenciam as variáveis definidas neste documento

// Tipografia
$sans-serif: 'Open Sans', Helvetica, sans-serif;
$serif: Times, 'Times New Roman', serif;

// Cores
$brand-azul: #1881ff;
$button-azul: #3B7AF9;
$button-azul-escuro:#3163C7;
$button-verde: #20b64e;
$button-verde-escuro: #199940;
$button-cinza-escuro:#111111;
$cinza-claro: #d7d7d7;
$cinza-clarissimo: #f8f8f8;
$cinza-escuro: #464646;
$branco: #fff;
$preto: #151515;
